@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
}

.dark {
  --primary: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pixelated {
  image-rendering: pixelated;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.email-span {
  max-width: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  white-space: nowrap;
}

@media (hover: hover) {
  .group:hover .email-span {
    max-width: 15rem;
  }
}

.dark::view-transition-new(root) {
  z-index: 1;
}